/* add css to vertically center text in the below class */

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  /* background-color: rgba(0, 0, 0, 0.95); */
}
